<div class="container">
  <form (ngSubmit)="getModsCar()" #setCar="ngForm">
    <div class="form-group row">
      <div class="col-4">
        <h4> Select car:</h4>
      </div>
      <div class="col-8">
        <select class="form-control" id="carID" required [(ngModel)]="car_selection" name="carID">
          <option *ngFor="let car of cars" [ngValue]="car">ID: {{car.car_id}} {{car.make}} {{car.model}} {{car.registration_number}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col"></div>
      <div class="col">
        <button  type="submit" class="btn btn-get-mods" style="width: 100%;">
          Get car modifications!
        </button>
      </div>
    </div>
  </form>
  <div class="card border-dark mb-3" style="width: 100%;" *ngFor="let mod of mods">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Type: {{mod.type}}" readonly>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Zone: {{mod.zone}}" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date: {{mod.date}}" readonly>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Kilometers: {{mod.mileage}}" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
          <div class="form-group" style="text-align: right;">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#detailMod">Detail view</button>
          </div>
          <div class="modal fade" id="detailMod" tabindex="-1" role="dialog" aria-labelledby="detailModLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="detailModLabel">Modification detail view</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-3">
                      <h4>Car info:</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{car_selection.make}} {{car_selection.model}}" readonly>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{car_selection.registration_number}}" readonly>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="ID: {{car_selection.car_id}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <h4>Modification info:</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type: {{mod.type}}" readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zone: {{mod.zone}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Date: {{mod.date}}" readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Kilometers: {{mod.mileage}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Part: {{mod.part}}" readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Make & Model: {{mod.part_make}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <textarea class="form-control" rows="4" placeholder="{{mod.info}}" readonly></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
