<form (ngSubmit)="addModShop()" #addModShopForm="ngForm">
  <div class="form-group row">
    <div class="col-4">
      <h2>Select car:</h2>
    </div>
    <div class="col-sm-8">
      <select class="form-control form-control-lg" id="car_id" required [(ngModel)]="modInfo.car_id" name="car_id">
        <option *ngFor="let car of cars" [ngValue]="car.car_id">ID:{{car.id}} {{car.make}} {{car.model}} {{car.registration_number}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control" id="type" placeholder="Type" [(ngModel)]="modInfo.type" name="type">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control" id="zone" placeholder="Zone" [(ngModel)]="modInfo.zone" name="zone">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <input type="date" class="form-control" id="date" placeholder="Date" [(ngModel)]="modInfo.date" name="date">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control" id="mileage" placeholder="Kilometers/Mileage" [(ngModel)]="modInfo.mileage" name="mileage">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control" id="part" placeholder="Part" [(ngModel)]="modInfo.part" name="part">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control" id="part_make" placeholder="Manufacturer" [(ngModel)]="modInfo.part_make" name="part_make">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" rows="5" id="info" placeholder="Comments and additional info..." [(ngModel)]="modInfo.info" name="info"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-add-mod" data-toggle="modal" data-target="#modifModal">Add modification</button>
        <div class="modal fade" id="modifModal" tabindex="-1" role="dialog" aria-labelledby="modifModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="moodifModalLabel">Login status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="this.status">
                Added modification successfuly!
              </div>
              <div class="modal-body" *ngIf="!this.status">
                Something went wrong! Try again and if the problem persists contact us!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/workshop/mods/list" *ngIf="this.status">Go to modifications list!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
