<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" routerLink="home">USSH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-2 dual-collapse2" data-toggle="collapse" data-target=".navbar-collapse.show" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto" routerLinkActive="active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="carsMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cars
        </a>
        <div class="dropdown-menu" aria-labelledby="carsMenuDropdown">
          <a class="dropdown-item" routerLink="">Search public cars</a>
          <a class="dropdown-item" routerLink="" *ngIf="socketFunc.isLoggedIn">My cars</a>
          <a class="dropdown-item" routerLink="" *ngIf="socketFunc.isLoggedIn">Add car</a>
          <a class="dropdown-item" routerLink="cars/list">Old cars list</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="workshopMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Workshop
        </a>
        <div class="dropdown-menu" aria-labelledby="workshopMenuDropdown">
          <a class="dropdown-item" routerLink="" *ngIf="!socketFunc.isLoggedIn">Please login first!</a>
          <a class="dropdown-item" routerLink="" *ngIf="socketFunc.isLoggedIn">My workshops</a>
          <a class="dropdown-item" routerLink="" *ngIf="socketFunc.isLoggedIn">Add car to workshop</a>
          <a class="dropdown-item" routerLink="service">Old service</a>
          <a class="dropdown-item" routerLink="modifications">Old modifications</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" data-toggle="collapse" data-target=".navbar-collapse.show" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!socketFunc.isLoggedIn">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!socketFunc.isLoggedIn">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" *ngIf="socketFunc.isLoggedIn">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" *ngIf="socketFunc.isLoggedIn" (click)="logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
