<mat-grid-list cols="3" rowHeight="8:1">
  <mat-grid-tile colspan="3">
      <mat-input-container class="justifier">
          <input required matInput placeholder="Username" text="username" [(ngModel)]="username">
      </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input required matInput placeholder="Password" text="password" [(ngModel)]="password" type="password">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input required matInput placeholder="Email" text="email" [(ngModel)]="email">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input required matInput placeholder="First Name" text="firstName" [(ngModel)]="firstName">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input required matInput placeholder="Last Name" text="lastName" [(ngModel)]="lastName">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input matInput placeholder="Mobile number" text="mobile" [(ngModel)]="mobile">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <button mat-raised-button class="register-button" (click)="registerUser()"> Register </button>
  </mat-grid-tile>
</mat-grid-list>
