<mat-grid-list cols="3" rowHeight="8:1">
  <mat-grid-tile colspan="3">
      <mat-input-container class="justifier">
          <input matInput placeholder="Username" text="username" [(ngModel)]="username">
      </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-input-container class="justifier">
        <input matInput placeholder="Password" text="password" [(ngModel)]="password" type="password">
    </mat-input-container>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <button mat-raised-button class="login-button" (click)="loginUser()"> Login </button>
    <a routerLink="/register"><button mat-raised-button class="register-button"> Register </button></a>
  </mat-grid-tile>
</mat-grid-list>
