<div class="container" style="margin-top: 30px;">
  <ul class="nav nav-tabs justify-content-end" style="font-size: 150%; font-weight: bold;">
    <li class="nav-item">
      <a class="nav-link" routerLink="./data">
        Profile data
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./cars">
        Cars
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./mods">
        Modifications
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./notif">
        Notifications
      </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
