<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-list-not-tab" data-toggle="pill" href="#v-pills-list-not" role="tab" aria-controls="v-pills-list-not" aria-selected="true">List</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-list-not" role="tabpanel" aria-labelledby="v-pills-list-not-tab">1</div>
        </div>
      </div>
    </div>
  </div>
</div>
