<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-basic-tab" data-toggle="pill" href="#v-pills-basic" role="tab" aria-controls="v-pills-basic" aria-selected="true">Basic info</a>
          <a class="nav-link" id="v-pills-additional-tab" data-toggle="pill" href="#v-pills-additional" role="tab" aria-controls="v-pills-additional" aria-selected="false">Additional info</a>
          <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
            <form (ngSubmit)="updateAccUser()" #updateBasicInfo="ngForm">
              <div class="form-group row">
                <label for="fName" class="col-sm-4 col-form-label">First name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="fName" value={{accInfoUser.first_name}} required [(ngModel)]="fName" name="fName">
                </div>
              </div>
              <div class="form-group row">
                <label for="lName" class="col-sm-4 col-form-label">Last name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="lName" value={{accInfoUser.last_name}} required [(ngModel)]="lName" name="lName">
                </div>
              </div>
              <button type="submit" class="btn btn-update-acc" [disabled]="!updateBasicInfo.form.valid" data-toggle="modal" data-target="#loginModal">
                Update account info!
              </button>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab">
            <form (ngSubmit)="updateAccUser()" #updateAdditionalInfo="ngForm">
              <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label">Phone number:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="phone" value={{accInfoUser.phone}} required [(ngModel)]="phone" name="phone">
                </div>
              </div>
              <div class="form-group row">
                <label for="birthdate" class="col-sm-4 col-form-label">Birth date:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="birthdate" value={{accInfoUser.birthdate}} required [(ngModel)]="birthdate" name="birthdate">
                </div>
              </div>
              <div class="form-group row">
                <label for="country" class="col-sm-4 col-form-label">Country:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="country" value={{accInfoUser.country}} required [(ngModel)]="country" name="country">
                </div>
              </div>
              <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="city" value={{accInfoUser.city}} required [(ngModel)]="city" name="city">
                </div>
              </div>
              <div class="form-group row">
                <label for="info" class="col-sm-4 col-form-label">Additional info & description:</label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" id="info" value={{accInfoUser.info}} required [(ngModel)]="info" name="info"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-update-acc" [disabled]="!updateAdditionalInfo.form.valid" data-toggle="modal" data-target="#loginModal">
                Update account info!
              </button>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
            <form (ngSubmit)="updateAccUser()" #updatePassword="ngForm">
              <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">New password:</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password" value={{accInfoUser.password}} required [(ngModel)]="password" name="password">
                </div>
              </div>
              <!--<div class="form-group row">
                <div class="col-sm-8">
                  <label for="repeat_password" class="col-sm-4 col-form-label">Repeat password:</label>
                  <input type="password" class="form-control" id="repeat_password" value={{accInfoUser.password}} required ng-pattern="password" name="repeat_password">
                </div>
              </div>-->
              <button type="submit" class="btn btn-update-acc" [disabled]="!updatePassword.form.valid" data-toggle="modal" data-target="#loginModal">
                Update password!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
