<h1>Welcome to {{title}}!</h1>
<div class="card border-danger mb-3 mx-auto" style="text-align: center; max-width: 600px;">
  <div class="card-header">Внимание!</div>
  <div class="card-body text-danger">
    <h5 class="card-title">Проектът е в ранен етап на развитие!</h5>
    <p class="card-text">Не всички функционалности работят така,
      както са предназначени. Молим ви да не оставяте каквито и да е чуствителни данни,
      тъй като те могат потенциално да попаднат в хора със злонамерени намерения.</p>
  </div>
</div>
<div class="card border-danger mb-3 mx-auto" style="text-align: center; max-width: 600px;">
  <div class="card-header">Warning!</div>
  <div class="card-body text-danger">
    <h5 class="card-title">The project is in early stages of development!</h5>
    <p class="card-text">Not all features are working as expected. We ask you not to leave any sensitive data,
      as it could potentionally be accessed by people with malicious intent.</p>
  </div>
</div>
